<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Judul Notes</ion-label>
    <ion-input placeholder="Input Judul" [(ngModel)]="Judul"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Isi Notes</ion-label>
  <ion-input placeholder="Input Isi Notes" [(ngModel)]="Isi"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label>Input Date</ion-label>
  </ion-item>
  <ion-item>
  <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2030-12-09" placeholder="Input Date" [(ngModel)]="Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Input Score</ion-label>
    <ion-input placeholder="Input Score" [(ngModel)]="Score"></ion-input>
  </ion-item>
  <ion-item>
    <ion-fab-button (click)="tambahFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-item>
  <ion-button (click)="simpan()">SIMPAN</ion-button>

  <ion-list>
    <ion-item *ngFor="let data of isiData | async">
      <h1>{{data.judul}}</h1>
      <h2>{{data.isi}}</h2>
      <h2>{{data.date}}</h2>
      <h2>{{data.score}}</h2>
      <h2>{{data.picture}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
